{% extends 'base.html' %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/style_skeleton.css' %}">
<link rel="stylesheet" href="{% static 'css/page_structure_universe/style_structureS.css' %}">
<link rel="stylesheet" href="{% static 'css/page_structure_universe/structure_screen_style.css' %}">
<link rel="stylesheet" href="{% static 'css/page_structure_universe/T_structure_card_temp.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock head %}

{% block content %}
<div class="parent">
    {% include 'space_website/space/structure_universe/structure_sys_card.html' %}
</div>
{% endblock content %}
{% block script %}
<script>
const swiper = new Swiper('.planet-slider', {
  // свайп мышью / пальцем (включён по умолчанию)
  simulateTouch: true,
  grabCursor: true,

  // навигация стрелками
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // свайп + drag уже работает автоматически
  // но можно усилить ощущения
  speed: 500,

  // (опционально) бесконечная прокрутка
  loop: false,

  // (опционально) если нужно много карточек
  slidesPerView: 1
});
</script>
{% endblock script %}