@font-face {
    font-family: 'Jura'; /* Имя, которое вы будете использовать для шрифта */
    src: url('../../font/Jura.ttf') format('truetype'); /* Укажите путь к файлу шрифта */
    font-weight: lighter; /* Установите вес для шрифта */
    font-style: normal; /* Установите стиль для шрифта */
}

.planet_screen{
    width: 98%;
    height: 100%;
    border: 1px solid;
    background: rgba(0, 45, 79, 0.80);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block_content{
    width: 100%;
    height: 100%;
    border: 0px solid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    margin: 24px 0px 30px 0px;
}

.block_title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.title_txt{
    font-family: 'Jura', 'serif';
    font-size: 30px;
    font-weight: 600;
    color: rgba(0,188,255,1);
    filter: drop-shadow(0px 0px 2px rgba(41,171,223,1));
    margin: 0;
}
.block_planet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 0px;
}

@keyframes quizSignalPulse {
    0%, 100% {
        opacity: 0.7;
        filter:
            drop-shadow(0 0 2px rgba(0, 60, 120, 0.45))
            drop-shadow(0 0 5px rgba(0, 30, 70, 0.35));
    }

    50% {
        opacity: 1;
        filter:
            /* тёплый красно-синий центр */
            drop-shadow(0 0 4px rgba(210, 60, 85, 0.85))
            drop-shadow(0 0 10px rgba(180, 45, 70, 0.90))
            drop-shadow(0 0 10px rgba(180, 45, 70, 1))

            /* холодная синяя база */
            drop-shadow(0 0 18px rgba(0, 80, 150, 0.7))
            drop-shadow(0 0 28px rgba(0, 45, 100, 0.65));
    }
}
.quiz-signal-active {
    animation: quizSignalPulse 1.2s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
}

.home{
    display: none;
}


