{% extends 'space_website/space/main_page/base_card_f_main_page.html' %}
{% block SCC_name %}Story_center_column_story{% endblock SCC_name %}
{% block SC_center_column %}
<div class="SCCS_title" id="story">
    <div>
        </a><p>Миссия: Вселенная</p>
    </div>
</div>
<div class="SCCS_content">
    <div>
        <p>
            Командир “Феникс”, ваша задача — найти новый дом для человечества.
            Полёт займёт 10 лет по времени корабля, но на Земле пройдут тысячелетия.
            Ситуация критическая: Солнце активизируется, климат нестабилен, здоровье под угрозой.
            У нас осталось около 1500 лет — затем планета станет непригодной.<br><br>

            Вы — наша последняя надежда.
            Корабль оснащён ионно-ядерным двигателем на тории-232 и защищён от радиации.
            Ваша цель — покинуть Млечный путь, исследовать ближайшие галактики и экзопланеты, пересечь сверхскопление Дева и достичь соседнего скопления.<br><br>

            В ходе миссии пилот обязан детально изучать все космические объекты, которые встретятся на маршруте: планеты, звёзды, галактики и структуры Вселенной. За каждое успешное исследование будет начисляться внутриигровой опыт, называемый «Космо». При достижении определённых значений «Космо» пилоту будет присваиваться новое звание.<br><br>

            Все данные, переданные вами, помогут выбрать новый дом. Миссия — в один конец. Возвращение не рекомендуется: Земля будет пуста.
            По завершению мы отправим координаты нового мира.
        </p>
    </div>
</div>
{% endblock SC_center_column %}