@font-face {
    font-family: 'Jura'; /* Имя, которое вы будете использовать для шрифта */
    src: url('../font/Jura.ttf') format('truetype'); /* Укажите путь к файлу шрифта */
    font-weight: lighter; /* Установите вес для шрифта */
    font-style: normal; /* Установите стиль для шрифта */
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: black;
    overflow-x: hidden;
    overflow-y: auto;

    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

canvas {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

.parent{
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    box-sizing: border-box;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media (max-width: 600px) {
    .parent {
        padding: 22px 0;
    }
}
